# ignore user made make.inc file
make.inc
# ignore compiled fortran files
*.o
*.x
*.mod
# ignore fftw
fftw-*/
# certain files under Examples ignored
Examples/*/Converted_Export/
Examples/*/pw_export*
Examples/*/temp/*.export/
Examples/*/temp/*.wfc1
Examples/*/zfs.out
Examples/*/zfs.dump/
Examples/Sine-Wave/zfs-conv.out
Examples/Sine-Wave/Export/wfc1_*.txt
Examples/Sine-Wave/*_r.eps
Examples/Sine-Wave/fft-vs-con_*.eps
Examples/NV-Diamond/short.out
# qe-utility
qe-utility/Makefile
# pyc files
*.pyc
